html, body{
	height: 100%;
	font-family: sans-serif;
}
*{
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
	margin-bottom: 20px;
}
nav{
	height: 50px;
	width: 100%;
	background-color: rgba(0,0,0,.5);
	position: fixed;
}
div a{
	color: white;
	text-decoration: none;
	
}

nav a{
	text-decoration: none;
	color: white;
	padding: 3px;
}
a:hover{
	background-color: #800000;
	transition: 2s;
}
nav .rek{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.navbar a{
	padding-left: 3px;
	padding-right: 3px;
	position: relative;
	bottom: -8px;

}
.pt{
	height: 50px;
	background-color: rgba(0,0,0,.5);	
}
.navbar{
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 30px;

	
}
.sect{
	height: 100%;
	
	background-attachment: fixed;
}
.sub{
	height: 60%;
	background-color: #800000;
}
.sectone{
	background-image: url(lights.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.secttwo{
	background-image: url(stairs.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.sectthree{
	background-image: url(ipad.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}